# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

01_Assignment_1/hellocube/x64/
01_Assignment_1/hellocube/hellocube/x64/
*.opendb
*.db
*.suo
*.obj
*.log
*.tlog
*.lastbuildstate
*.pdb
*.exe
*.ilk
*.TMP
03_Volume_Visualization/hellocube/hellocube/VolumeData/
03_Volume_Visualization/hellocube/hellocube/tex/
04_Terrain_Rendering/hellocube/hellocube/VolumeData/
04_Terrain_Rendering/hellocube/hellocube/tex/
04_Terrain_Rendering/hellocube/hellocube/TerrainData/
